.wid{
    display: flex;
    flex-direction: row-reverse;
    width: 48%;
}

.title{
    font-size: 19px;
}

.img{
    max-width: 200px;
    border-radius: 0 !important;
    border-end-end-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

@media (max-width: 400px) {
    .wid{
        flex-direction: column;
        width: 100%;
    }
    .img{
        max-width: none;
    }
}