.card img {
    max-height: 250px;
  }

  .pillar{
    margin-top: 7vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  @media (max-width: 400px) {
    .pillar{
      margin-top: 15px;
    }

    .cen{
      justify-content: center;
    }

    .titl{
      margin-left: 5%;
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 40px !important;
    }
    
    .mem{
      margin-top: 2vh;
      height: 77vh;
    }

    .slid{
      font-size: small;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .txts{
      padding: 5px;
    }

    .dtl{
      padding: 0;
      margin-top: 0 !important;
    }
    .card{
      width: 90% !important;
    }

  }
  